.slideshow {
   width: 900px;
   height: 300px;
   overflow: hidden;
   background: #black;
   margin: auto;
   border-radius: 20px ;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
   width: 400%;
   height: 300px;
   padding:0; margin:0;
   list-style: none;
}
.slideshow li {
   float: left;

}
